.data-table-health-hazard th {
  background-color: #ffffff00 !important;
  font-weight: bold !important;
  color: #fafafa !important;
  padding-right: 5px !important;
}
.data-table-health-hazard td {
  background-color: #ffffff00 !important;
  padding-right: 5px !important;
}
.data-table-health-hazard thead {
  background-color: #4caf50;
}
.data-table-health-hazard tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.data-table-health-hazard tbody tr:nth-child(even) {
  background-color: #c8e6c9;
}
.data-table-health-hazard .v-data-table-footer {
  background-color: #ffffff;
  font-weight: bold;
}

.data-table-suspect-issues th {
  background-color: #ffffff00 !important;
  font-weight: bold !important;
  color: #fafafa !important;
  padding-right: 5px !important;
}
.data-table-suspect-issues td {
  background-color: #ffffff00 !important;
  padding-right: 5px !important;
}
.data-table-suspect-issues thead {
  background-color: #2962ff;
}
.data-table-suspect-issues tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.data-table-suspect-issues tbody tr:nth-child(even) {
  background-color: #bbdefb;
}
.data-table-suspect-issues .v-data-table-footer {
  background-color: #ffffff;
  font-weight: bold;
}
